DirectoryIndex index.html
Options -Indexes
<IfModule mod_headers.c>
  <FilesMatch "\.(html|js|xml|txt)$">
    Header set Cache-Control "private, no-cache, must-revalidate"
  </FilesMatch>
</IfModule>
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} !^robodev\.online$ [NC]
RewriteRule ^ https://robodev.online%{REQUEST_URI} [R=301,L]
