DirectoryIndex index.html
Options -Indexes
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} !^robodev\.online$ [NC]
RewriteRule ^ https://robodev.online%{REQUEST_URI} [R=301,L]
